<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container{
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row " style="margin-top: 10px">
            {% for foo in index_list %}
                <p>Search Result NO.{{ loop.index }}: {{ foo }}</p>
            {% endfor %}
            <p class="pagination">
                {{ html|safe }}
            </p>
        </div>
    </div>
</body>
</html>